[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[delta]
	navigate = true  # use n and N to move between diff sections
[diff]
	algorithm = patience
	colorMoved = default
	tool = meld
[difftool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = meld
[user]
	email = cakira@cpqd.com.br
	name = Akira - Cleber Akira Nakandakare
	signingkey = D826280D41B88281FCE08DA1AA70375B2301F266
[rerere]
	enabled = true
	autoupdate = true
[color "decorate"]
	head = black yellow
[core]
	autocrlf = input
	# pager = less -x4
	pager = delta
[blame]
	date = format:%F %R
[commit]
	gpgsign = false
[submodule]
	recurse = false

[interactive]
	diffFilter = delta --color-only


